*.DS_Store
.idea
node_modules
app/private
[Pp]ublic/dist
[Pp]ublic/.sass-cache
[Pp]ublic/bower_components
mochawesome-reports
api-build
*.rdb
playgroundsendgrid.env
sendgrid.env
currentThings.txt
dist
stupid_db_test.js
cmcr.sh
db_modification/add_field_to_project.js
prod_sendgrid.env
test_chart
nginx.conf
.gitignore
server.js
new_db/nik.bash
