*.DS_Store
.idea
node_modules
app/private
[Pp]ublic/dist
[Pp]ublic/.sass-cache
[Pp]ublic/bower_components
mochawesome-reports
api-build
test_code.js
db_modif.github
stupid_db_test.js
dump.rdb
fetch_doc.bash
todo.perso
