[submodule "api"]
	path = api
	url = https://github.com/wittycircle/api-doc.git
[submodule "api-doc"]
	path = api-doc
	url = https://github.com/wittycircle/api-doc.git
[submodule "socket-server"]
	path = socket-server
	url = https://github.com/wittycircle/socket-server.git
[submodule "front-endV2"]
	path = front-endV2
	url = https://github.com/wittycircle/front-endV2.git
