[submodule "api-doc"]
	path = api-doc
	url = https://github.com/wittycircle/api-doc.git
[submodule "socket-server"]
	path = socket-server
	url = https://github.com/wittycircle/socket-server.git
[submodule "public"]
	path = public
	url = https://github.com/wittycircle/front-endV2.git
